@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-stats{
    display: flex;
    align-items: center;
}
.flex-stats-items-start{
    display: flex;
    align-items: flex-start;
}
.flex-stats-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition: all 200ms;
}
h1,h2,h3,h4,h5,h6   {
    margin: 0;
    padding:0; 
    color:white;
    
}
/* width */
::-webkit-scrollbar {
        width: 3px;
 
      
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px; 
        
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #0ea5e9;
        border-radius: 10px; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        
        background: #0ea5e990;
      }

      img, video, button{
      user-select: none;
      }